body {
  margin: 0;
  font-family: 'Baloo 2', cursive;
font-family: 'Baloo Paaji 2', cursive;
font-family: 'Titillium Web', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
